*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*structura*/
header{
    min-height: 10vh;
}
main{
    min-height:75vh ;
}
footer{
min-height: 15vh;
}
 /*header*/   
 .logo{
     display: flex;
     width: 60px;
     object-fit: cover;
 }
 .titulo{ 
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 h1{
     display: flex;
 }
 .rojo{
     color: red;
 }
 .index_header{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 10px;
     background-color: black;
     color: white;
     min-height: 10vh;
 }
 .navbar1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }   
 .navbar1 a{
     text-decoration: none;
     color: white;
     border-radius:40px;
     cursor: pointer;
     font-size: 15px;
     margin: 10px;
     padding: 9px;
     box-shadow: 5px 8px 12px rgb(137, 133, 133) ;
 }
 .navbar1 a:hover{
    background-color:red ;
} 
@media(min-width:768px){
    .titulo{
        flex-direction: row-reverse;
     } 
     .index_header{
         flex-direction: row;
         justify-content: space-between;
         padding: 0 25px;
     }
     .navbar1{
         flex-direction: row;
     }
     
 }
/*main*/
.main_bef{
    background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)), url(./images/image-1.jpg);
    position: relative;
    background-size: cover;
    min-width: 100vw;
}
.ima_banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.ima{
    width: 100%;
    height: 100%;
}  
.baner{
    display: flex;
    flex-direction: column;
}   
.tex_banner{
    text-align: center;
    font-size: 20px;
    background-color:rgba(175, 170, 170, 0.7);
}
.h02{
    text-align: center;
    margin: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ima_p{
    position: relative;
    width: 250px;
    height: 200px;
}
.p_tex{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color:rgba(7, 7, 7, 0.70);
    text-align: center;
    color: white;
}
.h03{
    text-align: center;
    margin:30px ;
}
.lis_tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(7, 7, 7, 0.70);
    width: 90%;
    height: 260px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    color: white;
    gap: 2rem;
}    
  
table,th,td{
    margin: 15px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    background-color:rgba(119, 112, 112, 0.8);
    color: white;
}
th,td{
    padding: 10px;
    width: 150px;
    height: 60px;
}
caption{
    background-color:rgba(7, 7, 7 );
    color: white;
}
@media(min-width:768px){
    .container{
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
    }
    .lista{
        width: 400px;
    }
    ul{
        width: 300px;
    }
    .lis_tab{
        flex-direction: row;
        justify-content: space-around;
    }
}
@media(min-width:1024px){
    .lista{
        width: 400px;
    }
    ul{
        width: 300px;
    }
   
   
 }
/*footer*/
form{
    
    width: 300px;
    color: white;
    margin: 10px;
}
.field{
    display: flex;
    flex-wrap: wrap;
}   
.cheq{
display: flex;
}
button{
    margin-left: 10px;
}
.foot{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 20px ; 
} 
.mail{
    color: aliceblue;
}
.yes{
    
    margin: 0 15px;
} 
@media(min-width:768px){
    .foot{
        flex-direction: row;
        justify-content: space-between;
    }
} 




    
    

  
    
   


    
   
    

  
   

    



    






    
   
    


   
    
    